:host {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
}

.app-toolbar {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

.content-outlet{
    width: calc(100% - (145px*1));
    margin: 20px;
  	box-sizing: border-box;
  	height: 100%;
}