<div class="">
  <div class="row header">
    <div class="col-md-8">
      <h1>Bem-vinda,<br>
        <span> < Daniela ></span>
      </h1>
    </div>
    <div class="col-md-4"></div>
  </div>

  <div class="row galery">
    <div class="col-12">
      <section class="container-galery">
        <div class="title">
          <h5>Fotos escolhidas por nosso time</h5>
          <h5>Ver Todos <i class="fa fa-long-arrow-right" aria-hidden="true"></i></h5>
        </div>
        <!-- <app-photo *ngFor="let photo of photos" [url]="photo.urls.raw" [description]="photo.description"></app-photo> -->
        <div class="images">
            <app-photo-curated-lis></app-photo-curated-lis>
        </div>
      </section>
    </div>
  </div>

  <div class="row divider">
    <div class="col-12">
      <div class="ui horizontal divider">
        Inspire-se
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <app-photo-arround-list></app-photo-arround-list>
    </div>
  </div>
</div>
