.header {
    margin-top: 25em;
    padding-bottom: 14em;

    h1 {
        font-family: 'Roboto', sans-serif;
        color: #31297b;
        font-weight: 300;
        font-size: 4em;
    }
  }

section.container-galery {
    width: 100%;
    background: white;
    height: calc(15em + 33em);
    position: relative;
    border-radius: .9rem;
    box-shadow: 0 0 26px rgba(170, 187, 221, 0.43);

    .title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 48px 60px;

        h5 {
            /* font-family: Arial,Helvetica,sans-serif; */
            font-family: 'Roboto', sans-serif;
            font-weight: 500;
            font-size: 1.1em;
            color: #04183E;
        }
    }

    .images {
        padding: 48px 60px;
    }
}

.divider {
    margin-top: 3em;
}

