<div class="">
  <div class="row header">
    <div class="col-md-8">
      <h1>Bem-vinda,<br>
        <span> < Daniela ></span>
      </h1>
    </div>
    <div class="col-md-4"></div>
  </div>

  <div class="row galery">
    <div class="col-12">
      <section class="container-galery">
        <div class="title">
          <h5>Fotos escolhidas por nosso time</h5>
          <h5>Ver Todos <i class="fa fa-long-arrow-right" aria-hidden="true"></i></h5>
        </div>

        <div class="container-image">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>

  <div class="row divider">
    <div class="col-12">
      <div class="ui horizontal divider">
        Inspire-se
      </div>
    </div>
  </div>
</div>
