mat-sidenav-container {
    width: 100% !important;
    height: calc(100vh - 70px) !important;
    
  }
  
  mat-sidenav {
    background-color: red !important;
  }
        
  div.my-content {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #fbfbfb;
    min-height: 100%;
    background: url('../../../../assets/images/image-header.svg') no-repeat;
    background-size: 88%;
    background-position-y: 28px;
    background-position-x: 262px;
  }
  
  mat-toolbar {
    height: 64px;
    position: relative;
    z-index: 100;
  }

  .example-footer {
    height: 200px;
    z-index: 100;
    position: absolute;
    bottom: 0;
  }

 