.footer {
    display: flex;
    justify-content: space-evenly;
    background: #2D03A8;
    padding-top: 110px;

    h4 {
        color: #FFBA00;
        margin-bottom: 40px;
    }

    p {
        color: white;
    }
}