<section class="footer">
  <div class="linha">
    <div class="one">
      <h4>Empresa</h4>
  
      <div class="description-link">
        <p>Nossa história</p>
        <p>Marketing Show</p>
        <p>Trabalhe conosco</p>
        <p>Invista no Trakto</p>
      </div>
    </div>
    <div class="two">
      <h4>Produto</h4>
  
      <div class="description-link">
        <p>Captura de leads</p>
        <p>Apps & Integrações</p>
        <p>Galeria de imagens</p>
        <p>Emojis & Stickers</p>
        <p>Vídeos</p>
        <p>Favoritos</p>
        <p>Pagamento</p>
      </div>
    </div>
    <div class="three">
      <h4>Suporte</h4>
  
      <div class="description-link">
        <p>Blog</p>
        <p>Tutoriais</p>
        <p>Agende treinamento</p>
        <p>Fale com especialista</p>
      </div>
    </div>
    <div class="four">
      <h4>Segurança</h4>
  
      <div class="description-link">
        <p>Privacidade</p>
        <p>Segurança</p>
        <p>Termos</p>
      </div>
    </div>
    <div class="five">
      <img src="../../../../assets/images/icon-footer.svg" alt="">
    </div>
  </div>

  <div class="linha-socais">
    <div class="sociais">
      <div class="one">
        <a href="https://www.instagram.com/trakto_/?hl=pt-br" target="_blank"><img src="../../../assets/images/insta.svg" alt="instagram"></a>
      </div>
      <div class="one">
        <a href="https://pt-br.facebook.com/trakto.io/"><img src="../../../assets/images/face.svg" alt="instagram"></a>
      </div>
      <div class="one">
        <a href="https://www.youtube.com/channel/UCE0E6tzFnvu7jbEapcBbxnQ"><img src="../../../assets/images/you.svg" alt="instagram"></a>
      </div>
      <div class="one">
        <a href="https://twitter.com/trakto_"><img src="../../../assets/images/twitter.svg" alt="instagram"></a>
      </div>
      <div class="one">
        <a href="https://www.linkedin.com/company/traktopro/?originalSubdomain=br"><img src="../../../assets/images/linkedin.svg" alt="instagram"></a>
      </div>
      <div class="one">
        <a href=""><img src="../../../assets/images/pinterest.svg" alt="instagram"></a>
      </div>
      <div class="one">
        <img src="../../../assets/images/phone.svg" alt="instagram">
      </div>
    </div>
  </div>
</section>
