<section class="footer">
  <div class="one">
    <h4>Empresa</h4>

    <div class="description-link">
      <p>Nossa história</p>
      <p>Marketing Show</p>
      <p>Trabalhe conosco</p>
      <p>Invista no Trakto</p>
    </div>
  </div>
  <div class="two">
    <h4>Produto</h4>

    <div class="description-link">
      <p>Captura de leads</p>
      <p>Apps & Integrações</p>
      <p>Galeria de imagens</p>
      <p>Emojis & Stickers</p>
      <p>Vídeos</p>
      <p>Favoritos</p>
      <p>Pagamento</p>
    </div>
  </div>
  <div class="three">
    <h4>Suporte</h4>

    <div class="description-link">
      <p>Blog</p>
      <p>Tutoriais</p>
      <p>Agende treinamento</p>
      <p>Fale com especialista</p>
    </div>
  </div>
  <div class="four">
    <h4>Segurança</h4>

    <div class="description-link">
      <p>Privacidade</p>
      <p>Segurança</p>
      <p>Termos</p>
    </div>
  </div>
  <div class="five">
    <img src="../../../../assets/images/icon-footer.svg" alt="">
  </div>
</section>
